@import '../../../../styles/colors';
@import '../../../../styles/layout-variables';
@import '../../../../styles/mixins';
@import '../../../../styles/sassline-variables';
@import '../../../../../../node_modules/sassline/assets/sass/sassline-base/modular-scale';
@import '../../../../../../node_modules/sassline/assets/sass/sassline-base/mixins';

.menu-panel {
  width: 100%;
  height: auto;
  background-color: $primary-color-dark;
  padding-top: .6rem;

  &[hidden] {
    display: none;
  }

  &__item {
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    width: 100%;
    background-color: $primary-color-dark;
    border: none;
    color: $primary-color-text;
    text-align: left;
    @include fontsize(zeta, all);
    font-family: unquote(map-get($bodytype, font-family));
    font-style: normal;
    font-weight: map-get($bodytype, regular);
    @include transition($properties: background-color);

    &:hover {
      background-color: $primary-color-light;
      cursor: pointer;
    }
  }
}