@import '../../../../styles/layout-variables';
@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.profile-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: $navbar-height;
  margin: 0;
  padding-left: .6rem;
  padding-right: .6rem;
  @include transition($properties: background-color);

  &:hover {
    cursor: pointer;
    background-color: $primary-color-light;
  }

  &__text {
    display: flex;
    align-items: stretch;
    height: 100%;

    &--name, &--login {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      color: $primary-color-text;
    }

    @include hidden-on(phone-only);
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    max-height: 100%;
    max-width: 100%;

    img {
      background-color: $background;
      border-radius: 50%;
      max-width: 2rem;
      max-height: 2rem;
      
    }

    &--icon {
      width: 2rem;
      height: 2rem;
      fill: $primary-color-light;
      background-color: $background;
      border-radius: 50%;
    }
  }
}