<div class="modal" id="infoGraphSettingsModal" *ngIf="!hidden" [@fadeInOut] (click)="cancel($event)">
	<div class="modal__dialog typeset section single-measure">

		<div class="modal__dialog__title" *ngIf="modalTitle">
      <h2>{{ modalTitle }}</h2>
    </div>

    <form class="modal__dialog__form" [formGroup]="infoGraphForm">
      <label for="name">Titel</label>
      <input formControlName="name" name="name" type="text" placeholder="Titel des Informationsnetzes">

      <label for="description">Beschreibung</label>
      <textarea formControlName="description" name="description" placeholder="Beschreibung des Informationsnetzes" rows="4">
      </textarea>

      <label for="tags">Tags (durch Kommata getrennt)</label>
      <textarea formControlName="tags" name="tags" placeholder="Tags für das Informationsnetz" rows="3">
      </textarea>
    </form>

  	<div class="modal__dialog__buttons">
    	<button class="modal__dialog__buttons__button" (click)="cancel()">abbrechen</button>
   		<button class="modal__dialog__buttons__button" (click)="save()" [disabled]="infoGraphForm.invalid || infoGraphForm.pristine">Änderungen speichern</button>
  	</div>

  </div>
</div>