<div class="modal" id="infoGraphCreationModal" *ngIf="!hidden" [@fadeInOut] (click)="cancel($event)">
	<div class="modal__dialog typeset section single-measure">

		<div class="modal__dialog__title" *ngIf="modalTitle">
      <h2>{{ modalTitle }}</h2>
    </div>

    <form class="modal__dialog__form" [formGroup]="infoGraphForm">
      <label for="name">Titel</label>
      <input formControlName="name" name="name" type="text" placeholder="Titel des Informationsnetzes">

      <label for="description">Beschreibung</label>
      <textarea formControlName="description" name="description" placeholder="Beschreibung des Informationsnetzes" rows="4">
      </textarea>

      <label for="category">Kategorie</label>
      <select formControlName="category" name="category" [(ngModel)]="selectedCategory">
        <option [ngValue]="{_id: 'NEW_CATEGORY'}">neue Kategorie erstellen</option>
        <option *ngFor="let item of categories | async" [ngValue]="item">{{item.name}}</option>
      </select>

      <label *ngIf="selectedCategory && selectedCategory._id === 'NEW_CATEGORY'" for="newCategory">Neue Kategorie</label>
      <input *ngIf="selectedCategory && selectedCategory._id === 'NEW_CATEGORY'" formControlName="newCategory" name="newCategory" type="text" placeholder="Name der neuen Kategorie">

      <label for="tags">Tags (durch Kommata getrennt)</label>
      <textarea formControlName="tags" name="tags" placeholder="Tags für das Informationsnetz" rows="3">
      </textarea>
    </form>

  	<div class="modal__dialog__buttons">
    	<button class="modal__dialog__buttons__button" (click)="cancel()">abbrechen</button>
   		<button class="modal__dialog__buttons__button" (click)="save()" [disabled]="infoGraphForm.invalid">Änderungen speichern</button>
  	</div>

  </div>
</div>