<div class="card">
  <div class="card__content">
    <h3 class="card__content__title">
      {{ infoGraph.name }}
      <svg class="card__content__title__settings-icon" *ngIf="user && infoGraph.owner === user._id" (click)="openSettingsModal(infoGraph)">
        <use xlink:href="icons/svg-sprite-action-symbol.svg#ic_settings_24px" />
      </svg>
    </h3>
    <p class="card__content__subtitle">
      von {{ getUserName(infoGraph.owner) | async }}
      <br>
      letzte Änderung am {{ infoGraph.lastUpdated | date: 'd.MM.yyyy' }}
      um {{ infoGraph.lastUpdated | date: 'H:mm'}}
    </p>
    <p>{{ infoGraph.description }}</p>
    <div class="card__content__tags">
      <p><strong>Tags:</strong></p>
      <p *ngIf="tags">
        {{ tags | arrayToList }}<!-- no whitespace
     --><span *ngIf="infoGraph.tags && tags.length < infoGraph.tags.length"><!-- no whitespace
       -->, …&ensp;
          <strong class="card__content__tags__toggle"  (click)="toggleMoreTags()">alle Tags anzeigen</strong>
        </span>
         <span *ngIf="tags.length > 5">
          &ensp;
          <strong class="card__content__tags__toggle"  (click)="toggleMoreTags()">weniger Tags anzeigen</strong>
        </span>
      </p>
      <p *ngIf="!tags.length">
        keine Tags...
      </p>
    </div>
  </div>
  <div class="card__buttons">
    <button class="card__buttons__button" (click)="viewGraph()">betrachten</button>
  </div>
</div>