@import '../../../styles/colors';
@import '../../../styles/cards';
@import '../../../styles/buttons';
@import '../../../styles/mixins';
@import '../../../styles/sassline-variables';
@import '../../../../../node_modules/sassline/assets/sass/sassline-base/modular-scale';
@import '../../../../../node_modules/sassline/assets/sass/sassline-base/mixins';

.card {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: calc(100% - 2rem);
  background-color: $card-background-color;
  @include card-padding;
  @include card-border;
  @include card-shadow;

  &__content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    &__title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      h3 {
        @include sassline(epsilon, $headingtype, 2, 0, all);
        margin-top: 0;
      }

      &__settings-icon {
        @include sassline(epsilon, $headingtype, 2, 0, all);

        svg {
          width: 1em;
          height: 1em;
          position: relative;
          top: .14em;
          fill: $primary-text-color;
          @include transition($properties: fill);

          &:hover {
            fill: $primary-color;
            cursor: pointer;
          }
        }
      }
    }

    &__subtitle {
      @include sassline(theta, $bodytype, 1, 0, all);
      color: $secondary-text-color;
      font-style: italic;
    }

    &__tags {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      @include sassline(theta, $bodytype, 1, 1, all);
      color: $secondary-text-color;

      &__toggle {
        text-decoration: underline;
        cursor: pointer;
        @include transition($properties: color);

        &:hover {
          color: $primary-color;
        }
      }

      p+p {
        margin-left: 1em;
      }
    }
  }

  &__buttons {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include buttons( $bg-color: $card-background-color, $color: $primary-text-color, $hover-bg-color: $primary-color, $hover-color: $primary-color-text);
  }
}