@import './colors';
@import './mixins';

@mixin buttons ($bg-color: $background, $color: $primary-color, $hover-bg-color: $primary-color, $hover-color: $primary-color-text,  $margin-h: 0) {
  &__button {
    color: $color;
    background-color: $bg-color;
    border: 2px solid $color;
    border-radius: 0.15rem;
    margin-left: $margin-h;
    margin-right: $margin-h;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: normal;
    @include transition($properties: (color, background-color, border-color));

    &:not([disabled]):hover {
      color: $hover-color;
      background-color: $hover-bg-color;
      border-color: $hover-bg-color;
    }

    &[disabled] {
      color: transparentize($color, 0.5);
      border-color: transparentize($color, 0.5);
      cursor: not-allowed;
    }
  }
}