@import 'colors';
@import 'mixins';
@import 'sassline-variables';
@import '../../../node_modules/sassline/assets/sass/sassline-base/modular-scale';
@import '../../../node_modules/sassline/assets/sass/sassline-base/mixins';

@mixin buttons ($bg-color: $background, $color: $primary-color, $hover-bg-color: $primary-color, $hover-color: $primary-color-text, $margin-h: 0, $padding-h: 1rem) {
  &__button {
    color: $color;
    background-color: $bg-color;
    border: 2px solid $color;
    border-radius: 0.15rem;
    margin-left: $margin-h;
    margin-right: $margin-h;
    padding-left: $padding-h;
    padding-right: $padding-h;
    @include fontsize(zeta, all);
    font-family: unquote(map-get($bodytype, font-family));
    font-style: normal;
    font-weight: map-get($bodytype, regular);
    line-height: 2rem;
    @include transition($properties: (color, background-color, border-color));

    &:not([disabled]):hover {
      color: $hover-color;
      background-color: $hover-bg-color;
      border-color: $hover-bg-color;
    }

    &[disabled] {
      color: transparentize($color, 0.5);
      border-color: transparentize($color, 0.5);
      cursor: not-allowed;
    }

    svg {
      margin-bottom: -0.2em;
      width: 1.2em;
      height: 1.2em;
      fill: currentColor;
    }
  }
}