@import 'mixins';

$card-background-color: #ffffff;
$card-border-color: #eeeeee;

@mixin card-border($width: 1px, $color: $card-border-color) {
  border-radius: .3rem;
  border-width: $width;
  border-style: solid;
  border-color: $color;
}

@mixin card-padding($offset: 0px) {
  padding: calc(1rem - #{$offset});
}

@mixin card-shadow($hover: false) {
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.1);

  @if $hover == true {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,.15);
      opacity: 0;
      @include transition($properties: opacity);
    }

    &:hover::after {
      opacity: 1;
    }
  }
}