$background: #FAFAFA;
$background-cards: #FFFFFF;

$primary-color-dark: #512da8;
$primary-color: #673ab7;
$primary-color-light: #7e57c2;
$primary-color-text: #FFFFFF;
$primary-color-secondary-text: rgba(255,255,255,.7);
$primary-color-disabled-text: rgba(255,255,255,.5);
$primary-color-hint-text: $primary-color-disabled-text;
$primary-color-divider: rgba(255,255,255,.12);
$accent-color: #009688;
$primary-text-color: rgba(0,0,0,.87);
$secondary-text-color: rgba(0,0,0,.54);
$disabled-text-color: rgba(0,0,0,.38);
$disabled-icon-color: $disabled-text-color;
$hint-text-color: $disabled-text-color;
$divider-color: rgba(0,0,0,.12);