.modal {
  &__dialog {
    &__form {
      display: flex;
      flex-direction: column;
      min-height: 4rem;
      overflow-y: auto;
      
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}


