@import 'colors';

.ql-snow.ql-toolbar {
  border: 2px solid $divider-color;
  border-radius: 0.15rem 0.15rem 0 0;
  border-bottom: none;
  box-sizing: border-box;
  font-family: $font-stack;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .ql-formats {
    .ql-picker {
      width: auto;

      .ql-picker-label {
        padding-right: 1.2rem;
      }
    }
  }
}

.ql-snow.ql-container {
  border: none;
  font-family: $font-stack;
  font-size: 1em;

  .ql-editor {
    border: 2px solid $divider-color;
    border-radius: 0 0 0.15rem 0.15rem;
    line-height: 1.6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    max-height: 40vh;

    &:focus {
      border-radius: 0.15rem;
      border-color: $primary-color-light;
    }
  }

  .ql-editor h1 {
    font-size: 2em;
  }
  .ql-editor h2 {
    font-size: 1.5em;
  }
  .ql-editor h3 {
    font-size: 1.17em;
  }
  .ql-editor h4 {
    font-size: 1em;
  }
  .ql-editor h5 {
    font-size: 0.83em;
  }
  .ql-editor h6 {
    font-size: 0.67em;
  }
  .ql-editor a {
    color: $accent-color;
  }

  .ql-editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      font-feature-settings: "onum" 0, "lnum" 1;	
    }

    h1 {
      font-size: 2.75em;
      font-weight: 300;
      margin-top: 0.53em;
      margin-bottom: 0.53em;
    }

    h2 {
      font-size: 2.25em;
      font-weight: 400;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }

    h4 {
      font-size: 1.25em;
      font-weight: 600;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
    }

    h5 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0.94em;
      margin-bottom: 0.94em;
    }

    h6 {
      font-size: 0.75em;
      font-weight: 800;
      margin-top: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
  }
}
