@import 'colors';
// import Sassline base SCSS files in order so variables are read correctly
@import 'sassline-variables';
@import '../../../node_modules/sassline/assets/sass/sassline-base/modular-scale';
@import '../../../node_modules/sassline/assets/sass/sassline-base/mixins';
@import 'sassline-typography';
@import '../../../node_modules/sassline/assets/sass/sassline-base/layouts';
// input element styling
input,
select,
textarea {
	width: 100%;
	min-height: 3rem;
	outline: 0;
	border: 2px solid $divider-color;
  border-radius: 0.15rem;
	font-family: unquote(map-get($headingtype, font-family));
	font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
	font-style: normal;
	font-weight: map-get($headingtype, regular);
	@include sassline($fontsize: zeta, $font: $headingtype, $lineheight: 2, $below: 2, $breakpoint: all);
	padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

textarea {
	resize: vertical;
}

input:not([type=submit]):not([type=file]),
select,
textarea {
	background-color: $white;
}

input:not([type=submit]):not([type=file]):focus,
select:focus,
textarea:focus {
	outline: 0;
	border-color: $primary-color-light;
}

input::placeholder {
	color: $secondary-text-color;
	font-style: italic;
}

input[type=button],
input[type=reset],
input[type=submit] {
	outline: 0;
	background-color: $white;
	@include baseline(zeta, $headingtype, 2, 2, all);
}

input[type=button]:not([disabled]):focus,
input[type=button]:not([disabled]):hover,
input[type=reset]:not([disabled]):focus,
input[type=reset]:not([disabled]):hover,
input[type=submit]:not([disabled]):focus,
input[type=submit]:not([disabled]):hover {
	border-color: $primary-color;
	background-color: $primary-color;
	color: white;
}

input[type=button]:not([disabled]):active,
input[type=reset]:not([disabled]):active,
input[type=submit]:not([disabled]):active {
	border-color: $primary-color;
	background-color: $primary-color;
	color: white;
}

input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
	color: $captionColour;
}

label,
legend {
	display: block;
	font-family: unquote(map-get($headingtype, font-family));
	font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
	font-style: normal;
	font-weight: map-get($headingtype, regular);
	@include sassline($fontsize: zeta, $font: $headingtype, $lineheight: 2, $below: 1, $breakpoint: all);
}