@import 'breakpoints';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	color: $primary-text-color;
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.1;
}

h1 {
	font-size: 2.75em;
	font-weight: 300;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
}

h2 {
	font-size: 2.25em;
	font-weight: 400;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.75em;
	font-weight: 400;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	font-size: 1.25em;
	font-weight: 600;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	font-size: 0.75em;
	font-weight: 800;
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: $accent-color;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

// breakpoints
@include for-size(phone-only) {
  body {
    font-size: 100%;
  }
}

@include for-size(tablet-portrait-up) {
  body {
    font-size: 105%;
  }
}

@include for-size(tablet-landscape-up) {
  body {
    font-size: 110%;
  }
}

@include for-size(desktop-up) {
  body {
    font-size: 117.5%;
  }
}

@include for-size(big-desktop-up) {
  body {
    font-size: 127.5%;
  }
}