@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/layout-variables';

.graph-container {
  height: 100%;
  width: 100%;
  background-color: #212121;

  &--editing {
    height: calc(100% - #{$navbar-height})
  }
}

.graph {
  .node {
    cursor: pointer;

    circle {
      &.outer {
        display: none;
      }

      &.inner {
        fill: #ffffff;
        stroke: #777777;
        stroke-width: 4px;
      }
    }

    &__content {
       &__title {
        font-size: 13px;
        font-weight: 700;
      }

      &__text {
        font-size: 11px;
        overflow: hidden;
      }
    }

    .focus-button {
      rect, text, use {
        @include transition($properties: (fill, stroke));
      }

      rect {
        fill: $white;
        stroke: #000;
        stroke-width: 2px;
      }

      &__label {
        font-size: 20px;
      }

      &:hover {
        rect {
          stroke: $accent-color;
          fill: $accent-color;
        }

        text, use {
          fill: $white;
        }
      }
    }

    &--selected {
      circle.outer {
        display: block;
        stroke: $accent-color;
        stroke-width: 4px;
        stroke-dasharray: 13px;
        fill: transparent;
      }
    }

    &--new {
      circle.inner {
        stroke: $primary-color-secondary-text;
        stroke-width: 4px;
        stroke-dasharray: 13px;
        fill: transparent;
      }

      use {
        fill: $primary-color-secondary-text;
      }

      &:hover {
        circle.inner {
          stroke: $primary-color-text;
        }

        use {
          fill: $primary-color-text;
        }
      }
    }
  }
  
  .edge {
    stroke-width: 6px;
    stroke: rgba(255, 255, 255, 0.2);
  }
}

.is-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}