@import '../../../styles/layout-variables';

.graph-view {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  overflow: hidden;
  background-color: #212121;

  graph-toolbar {
    height: $navbar-height;
    width: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  }

  meshup-graph {
    display: block;
    position: relative;
    height: calc(100vh - #{$navbar-height});
    z-index: 1;
  }

  graph-toolbar ~ meshup-graph {
    height: calc(100vh - #{2*$navbar-height});
  }
}