@import '../../../styles/colors';

.graph-container {
  height: 100%;
  width: 100%;
  background-color: #212121;
}

.graph {
  .node {
    cursor: pointer;

    circle {
      &.outer {
        display: none;
      }

      &.inner {
        fill: #ffffff;
        stroke: #777777;
        stroke-width: 4px;
      }
    }

    &__content {
       &__title {
        font-size: 13px;
        font-weight: 700;
      }

      &__text {
        font-size: 11px;
        overflow: hidden;
      }
    }

    &--selected {
      circle.outer {
        display: block;
        stroke: $accent-color;
        stroke-width: 4px;
        stroke-dasharray: 12px;
        fill: transparent;
      }
    }
  }
  .edge {
    stroke-width: 4px;
    stroke: #6c6c6c;
  }
}

.is-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}