<div class="graph-toolbar" [@slideInOut]>
  <ul class="graph-toolbar__list">
    <li class="graph-toolbar__list__item" (click)="openSettings()">
      <svg>
        <use xlink:href="icons/svg-sprite-action-symbol.svg#ic_settings_24px" />
      </svg>
      <span>verwalten</span>
    </li>
    <li class="graph-toolbar__list__item" [ngClass]="{'graph-toolbar__list__item--active' : _isAddingNode}" (click)="toggleNodeAdding()">
      <svg>
        <use xlink:href="icons/svg-sprite-content-symbol.svg#ic_add_circle_outline_24px" />
      </svg>
      <span>neuen Inhalt hinzufügen</span>
    </li>
  </ul>
</div>