@import '../../../../../node_modules/mathsass/dist/_math.scss';

@mixin text-size-scale {
  @for $i from 1 through 50 {
     &[transform*="scale(#{$i*0.1}"] {
      font-size: (125% - 1% * sqrt(250*$i));
     }
  }
}

@mixin circle($radius) {
  width: $radius*2;
  height: $radius*2;
  border-radius: $radius;

  &::before {
    content: '';
    height: 100%;
    width: 50%;
    float: left;
    shape-outside: polygon(
      0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
      5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
    );
  }
  > div {
    display: inline;

    &::before {
    content: '';
    height: 100%;
    width: 50%;
    float: right;
    shape-outside: polygon(
      100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
      95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
    );
    }
  }
}

$node-radius: 100px;
$node-size-adjustment: 0.95;

.graph-container {
  height: 100%;
  width: 100%;
  background-color: #212121;
}

.graph {
  .node {
    fill: #ffffff;
    stroke: #777777;
    stroke-width: 4px;
    cursor: pointer;

    &__content {
      cursor: pointer;
      @include circle($radius: $node-radius * $node-size-adjustment);
      overflow: hidden;

      &__title {
        font-size: 1.25em;
	      font-weight: 600;
        line-height: 1.1;
      }
    }
  }
  .edge {
    stroke-width: 4px;
    stroke: #6c6c6c;
  }

  @include text-size-scale();
}

.is-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}