@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/layout-variables';

.minimap {
  width: calc(5vw + 5vh);
  height: calc(5vw + 5vh);
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #212121;
  box-sizing: padding-box;

  &__graph {
    #nodes {
      .node__circle {
        fill: #ffffff;

        &--selected {
          stroke: $accent-color;
          stroke-width: 50px;
        }
      }
    }

    #edges {
      .edge {
        stroke-width: 30px;
        stroke: rgba(255, 255, 255, 0.3);
      }
    }
  }

  #visibleArea {
    stroke-width: 4px;
    stroke: $accent-color;
    fill: transparent;
  }
}