<div class="modal" id="nodeEditModal" *ngIf="!hidden" [@fadeInOut]>
  <div class="modal__dialog typeset section single-measure">

    <div class="modal__dialog__title" *ngIf="node.title">
      <h2>{{ modalTitle }}</h2>
    </div>

     <form class="modal__dialog__form" [formGroup]="nodeForm">
      <label for="title">Titel</label>
      <input formControlName="title" name="title" type="text" placeholder="Titel des Inhalts">

      <label for="content">Inhalt</label>
      <p-editor formControlName="content" name="content" placeholder="Hier Inhalt einfügen...">
         <p-header>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'fett'"></button>
            <button class="ql-italic" [title]="'kursiv'"></button>
            <button class="ql-blockquote" [title]="'Zitat'"></button>
            <select class="ql-header" [title]="'Format'">
              <option value="2">Überschrift 1</option>
              <option value="3">Überschrift 2</option>
              <option value="4">Überschrift 3</option>
              <option value="false" selected>Paragraph</option>
            </select>
            <button class="ql-list" value="bullet" [title]="'ungeordnete Liste'"></button>
            <button class="ql-list" value="ordered" [title]="'geordnete Liste'"></button>
            <button class="ql-link" [title]="'Link'"></button>
            <button class="ql-image" [title]="'Grafik'"></button>
          </span>
         </p-header>
      </p-editor>

      <label for="tags">Tags (durch Kommata getrennt)</label>
      <textarea formControlName="tags" name="tags" placeholder="Tags für den Inhalt" rows="3">
      </textarea>
    </form>

    <div class="modal__dialog__buttons modal__dialog__buttons--first-line">
      <button class="modal__dialog__buttons__button" (click)="remove()">Inhalt löschen</button>
    </div>

    <div class="modal__dialog__buttons">
      <button class="modal__dialog__buttons__button" (click)="cancel()">abbrechen</button>
      <button class="modal__dialog__buttons__button" [disabled]="nodeForm.invalid || nodeForm.pristine" (click)="save()">Änderungen speichern</button>
    </div>

  </div>
</div>