<div class="modal" id="nodeEditModal" *ngIf="!hidden" [@fadeInOut] (click)="cancel($event)">
  <div class="modal__dialog">

    <div class="modal__dialog__title" *ngIf="node.title">
      <h2>{{ modalTitle }}</h2>
    </div>

     <form class="modal__dialog__form" [formGroup]="nodeForm">
      <label for="title">Titel</label>
      <input formControlName="title" name="title" type="text" placeholder="Titel des Inhalts">

      <label for="content">Inhalt</label>
      <trumbowyg [initialContent]="node.content" [update]="update$" (savedContent)="node.content=$event" name="content"></trumbowyg>

      <label for="tags">Tags (durch Kommata getrennt)</label>
      <textarea formControlName="tags" name="tags" placeholder="Tags für den Inhalt" rows="3">
      </textarea>
    </form>

    <div class="modal__dialog__buttons">
      <button class="modal__dialog__buttons__button" (click)="cancel()">abbrechen</button>
      <button class="modal__dialog__buttons__button" [disabled]="nodeForm.invalid || nodeForm.pristine" (click)="save()">Änderungen speichern</button>
    </div>

  </div>
</div>