<div class="modal" id="nodeRemovalConfirmModal" *ngIf="!hidden" [@fadeInOut] (click)="cancel($event)">
	<div class="modal__dialog typeset section single-measure">
		<div class="modal__dialog__title" *ngIf="_modalTitle">
      <h2>{{ _modalTitle }}</h2>
    </div>
    <div class="modal__dialog__message">
    	<p [innerHTML]="_modalMessage"></p>
  	</div>
  	<div class="modal__dialog__buttons">
    	<button class="modal__dialog__buttons__button" (click)="cancel()">abbrechen</button>
   		<button class="modal__dialog__buttons__button" (click)="remove()">Inhalt löschen</button>
  	</div>
  </div>
</div>