.graph-container {
  height: 100%;
  width: 100%;
  background-color: #212121;
}

.graph {
  .node {
    fill: #ffffff;
    stroke: #777777;
    stroke-width: 4px;
  }
  .edge {
    stroke-width: 4px;
    stroke: #6c6c6c;
  }
}