@import '../../../styles/layout-variables';
@import '../../../styles/colors';

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  background-color: $primary-color;
  color: $primary-color-text;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);

  &__title {
    font-weight: 700;
  }

  &__pagelist {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;

    & * {
      margin: 0;
      padding: 0;
    }

    &__page {
      display: flex;
      align-items: stretch;
      
      a {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $primary-color-text;
        text-decoration: underline;

        &:hover {
          color: $primary-color-secondary-text;
        }
      }

      &--active {
        font-weight: 700;

        a {
          text-decoration: none;

          &:hover {
            color: $primary-color-text;
            cursor: default;
          }
        }
      }

       &__divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 2rem;
        font-weight: normal;
        align-items: center;
        color: $primary-color-text;
        cursor: default;

        svg {
          padding-top: 0.1em;
          width: 1.6em;
          fill: currentColor;
        }
      }
    }
  }
}