@import '../../../styles/layout-variables';
@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/buttons';

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  background-color: $primary-color;
  color: $primary-color-text;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);

  &__pagelist {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 1;
    min-width: 0;
    height: 100%;
    margin: 0;
    padding: 0;

    & * {
      margin: 0;
      padding: 0;
    }

    &__page {
      display: flex;
      align-items: center;
      flex-basis: auto;
      flex-shrink: 1;
      min-width: 0;
      
      a {
        display: inline-block;
        margin-left: .5rem;
        margin-right: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $primary-color-text;
        font-feature-settings: 'lnum';
        text-decoration: underline;
        @include remove-link-underlines;

        &:hover {
          color: $primary-color-secondary-text;
        }
      }

      &:first-of-type {
        a {
          margin-left: 1rem;
        }
      }

      &--active {
        font-weight: 700;

        a {
          text-decoration: none;

          &:hover {
            color: $primary-color-text;
            cursor: default;
          }
        }
      }

      &--no-shrink {
        flex-shrink: 0;
      }

       &__divider {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 2rem;
        font-weight: normal;
        align-items: center;
        color: $primary-color-text;
        cursor: default;

        svg {
          padding-top: 0.1em;
          width: 1.6em;
          fill: currentColor;
        }
      }
    }
  }

  &__edit {
    @include buttons( $bg-color: $primary-color, $color: $primary-color-text, $hover-bg-color: $primary-color-text, $hover-color: $primary-color-dark, $padding-h: 1rem);
    
    &__button {
      min-height: 2.5rem;
      @include hidden-on(tablet-portrait-below);
    }
  }
}