<div class="profile-button">
  <div class="profile-button__text">
    <span class="profile-button__text--login" *ngIf="!isLoggedIn">Anmelden</span>
    <span class="profile-button__text--name" *ngIf="isLoggedIn">{{ getUserName() }}</span>
  </div>
  <div class="profile-button__image" *ngIf="isLoggedIn">
    <img src="{{ getUserImage() }}" *ngIf="getUserImage()">
    <svg class="profile-button__image--icon" *ngIf="!getUserImage()">
      <use xlink:href="icons/svg-sprite-social-symbol.svg#ic_sentiment_satisfied_24px" style="fill: #7e57c2;"/>
    </svg>
  </div>
</div>