@import '../../../styles/breakpoints';
@import '../../../styles/buttons';
@import '../../../styles/colors';
@import '../../../styles/mixins';

.login {
  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: calc(5vh + 15vw);
  }

  &__welcome-title {
    text-align: center;
  }

  &__welcome-message {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 2rem;

      @include buttons($bg-color: $white);
    }
  }
}