@import '../../../styles/breakpoints';
@import '../../../styles/buttons';
@import '../../../styles/colors';
@import '../../../styles/mixins';

.login {
  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: calc(3vh + 15vw);
  }

  &__welcome-title {
    text-align: center;
  }

  &__welcome-message {
    text-align: center;
  }

  &__error-message {
    border: 2px solid #f44336;
    border-radius: 0.15rem;
    color: #b71c1c;
    background-color: #ffebee;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 2rem;

      @include buttons($bg-color: $white);
    }
  }
}